/**
 * Stylesheet customization for admin application.
 * @author Matthias L. Jugel
 * @version $Id$
 */

/************************************************/

.error { color: #ff0000; font-weight: bold; }
.menu {

}

.menuitem {
  background-color: #eeeeee;
  font-weight: bold;
  font-size: 13px;
}

/* special formatting of a wiki table */
.table-header {
  font-size: 12px;
  font-weight: bold;
  background-color: #eeeeee;
}



/************************************************/
/* tag formatting, page wide and individual */
body {
	font-family: verdana, sans-serif;
	background-color: #ffffff;
	margin: 10px;
}

td, p {
	font-size: 11px;
	color: rgb(76,76,76);
	line-height: 15px;
}

table {
	empty-cells: show;
}

input[type=submit] {
    text-align: center;
    background: #cccccc;
    border: 1px ridge #888888;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    vertical-align: middle;
    margin: 2px;
}

input, select, textarea {
    margin: 2px;
    background: #cccccc;
    font-size: inherit;
    font-family: courier, courier new, monospace;
    line-height: inherit;
    vertical-align: middle;
    border: 1px ridge #aaaaaa;
}
