/**
 * Stylesheet customization for generic formats.
 * @author Stephan J. Schmidt
 * @version $Id$
 */

/************************************************/

.error { color: #ff0000; font-weight: bold; }
.inactive { color: #aaaaaa; }
.bold { font-weight: bold; }
.italic { font-style: italic; }

#Menu {
    //Cudos to www.lazyatom.com
	color:#eee;
	border:1px dashed #999;
	line-height:14px;
	width:140px;
}

.menuitem {
  font-weight: bold;
  font-size: 20px;
}

/************************************************/
/* code formatting */
.code {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  background-color: #F0F0F0;
  border: 1px dashed black;
  font-family: courier, courier new, monospace;
  font-size: 12px;
  line-height: 100%;
  white-space: pre;
}


.java-keyword {
  font-weight: bold;
  color: #0000aa;
}

.java-object {
  color: #000088;
}

.java-quote {
  color: #00aa00;
}

.xml-keyword {
  font-weight: bold;
}

.xml-tag {
  color: #0000aa;
}

/* weblog formatting */
.blog-date {
  background-color: #f8f8f8;
  color: black;
  font-family: verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.snip-name { font-weight: bold; font-size: 15px; color: black}

.snip-modified {
  color: #999999;
}

/* special formatting of a wiki table */
.snip-table {
  border: 1px solid black;
  border-width: 0px 1px 1px 1px;
}

.snip-table td {
  border-top: 1px solid black;
  padding: 4px 4px 4px 4px;
}

.snip-table-header {
  font-weight: bold;
  /* background: #DDEEFF; */
  background: #d9e4f9;
}

.snip-table-odd {
  background: #F8F8F8;
}

.snip-table-even {
}


/************************************************/
/* tag formatting, page wide and individual */

a {
	color:#09c;
	text-decoration:none;
	font-weight:400;
	font-family:verdana, arial, helvetica, sans-serif;
}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}

#Header {
	margin:10px 0px 10px 0px;
	padding:17px 0px 7px 20px;
	border-style:solid;
	border-color:black;
	border-width:1px 0px;
	line-height:11px;
	background-color:#eee;
	font-size: 20px;
	font-weight: 50;
	height:14px;
	}


body {
	font-family: verdana, sans-serif;
	background-color: #ffffff;
	margin: 10px;
}

td, p {
	font-size: 11px;
	color: rgb(76,76,76);
	line-height: 15px;
}

table {
	empty-cells: show;
}

input[type=submit] {
    background: #eeeeee;
    border: 1px ridge #aaaaaa;
	font-family: verdana, sans-serif;
}

input, select, textarea {
    font-size: inherit;
    font-family: courier, courier new, monospace;
    line-height: inherit;
    vertical-align: middle;
	border:1px dashed #999;
}
