/**
 * Stylesheet customization for generic formats.
 * @author Stephan J. Schmidt
 * @version $Id$
 */

/************************************************/

.error { color: #ff0000; font-weight: bold;	background-color: inherit;}
.error-position { background-color: #ffaaaa; color: inherit;}

.inactive { color: #aaaaaa; background-color: inherit;}
.bold { font-weight: bold; }
.italic { font-style: italic; }

.preview {
    color: inherit;
    background-color: inherit;
    padding: 5px 5px 5px 5px;
}

.Menu {
    /* Cudos to www.lazyatom.com */
	color:#eee;
    background-color: inherit;
	border:1px dashed #999;
	line-height:14px;
}

.menuitem {
  font-weight: bold;
  font-size: 20px;
}

.heading-1 {
  font-weight: bold;
  font-size: 12px;
  font-variant: small-caps;
}

.heading-1-1 {
  font-size: 12px;
  font-variant: small-caps;
}

/************************************************/
/* code formatting */
.code {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  color: inherit;
  background-color: #F0F0F0;
  border: 1px dashed black;
  font-family: courier, courier new, monospace;
  font-size: 12px;
  line-height: 100%;
  white-space: pre;
}


.java-keyword {
  font-weight: bold;
  color: #0000aa;
  background-color: inherit;
}

.java-object {
  color: #000088;
  background-color: inherit;
}

.java-quote {
  color: #00aa00;
  background-color: inherit;
}

.xml-keyword {
  font-weight: bold;
}

.xml-tag {
  color: #0000aa;
  background-color: inherit;
}

/* weblog formatting */
.blog-date {
  background-color: #f8f8f8;
  color: black;
  font-family: verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.comment {
  color: black;
  background-color: inherit;
  font-family: verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 25px;
}

.snip-name { font-weight: bold; font-size: 15px; color: black; background-color: inherit;}

.snip-modified {
  color: #999999;
  background-color: inherit;
}

/* special formatting of a wiki table */
.snip-table {
  border: 1px solid black;
  border-width: 0px 1px 1px 1px;
}

.snip-table td {
  border-top: 1px solid black;
  padding: 4px 4px 4px 4px;
}

.snip-table-header {
  color: inherit;
  font-weight: bold;
  /* background: #DDEEFF; */
  background: #d9e4f9;
}

.snip-table-odd {
  color: inherit;
  background: #F8F8F8;
}

.snip-table-1 {
  color: inherit;
  background: #F8F8F8;
}


.snip-table-even {
}

.snip-table-0 {
}


/************************************************/
/* tag formatting, page wide and individual */

a {
	color:#09c;
	background-color: inherit;
	text-decoration:none;
	font-weight:400;
	font-family:verdana, arial, helvetica, sans-serif;
}
a:link {color:#09c; background-color: inherit;}
a:visited {color:#07a; background-color: inherit;}
a:hover {background-color:#eee; color: inherit;}

#Header {
	margin:10px 0px 10px 0px;
	padding:17px 0px 7px 20px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height:33px; /* 14px + 17px + 2px = 33px */
	border-style:solid;
	border-color:black;
	border-width:1px 0px;
	line-height:11px;
	color: inherit;
	background-color:#eee;
	font-size: 14px;

	/* Completely taken from lazyatom.com, I don't understand anything :-) */

	/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity.
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it.
IE5/Win incorrectly parses the "\";
	font-weight : bold;
}"" value, prematurely closing the style
declaration. The incorrect IE5/Win value is above, while the correct value is
below. See http://glish.com/css/hacks.asp for details. */
	voice-family: "\"}\"";
	voice-family:inherit;
	height:14px; /* the correct height */
	}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct
length values to user agents that exhibit the parsing error exploited above yet get
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#Header {height:14px;}
	}

pre.nobr {
	font-family: verdana, sans-serif;
}

body {
	font-family: verdana, sans-serif;
	color: black;
	background-color: #ffffff;
	margin: 10px;
}

td, p {
	font-size: 11px;
	color: rgb(76,76,76);
    /* background-color: inherit; */
	line-height: 15px;
}

table {
	empty-cells: show;
}

table.debug {
    color: inherit;
    background-color: #ffff99;
	empty-cells: show;
}

input[type=submit] {
    color: inherit;
    background: #eeeeee;
    border: 1px ridge #aaaaaa;
	font-family: verdana, sans-serif;
}

input, select, textarea {
    font-size: inherit;
    font-family: courier, courier new, monospace;
    line-height: inherit;
    vertical-align: middle;
	border:1px dashed #999;
}