<?xml version="1.0" encoding="iso-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
  ** Web Application configuration for installer application.
  ** @author Matthias L. Jugel
  ** @version $Id$
  -->
<web-app>
  <display-name>SnipSnap Boostrap Installer</display-name>

  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
    <param-value>en</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>i18n.messages</param-value>
  </context-param>

  <filter>
    <filter-name>org.snipsnap.admin.AdminInitFilter</filter-name>
    <filter-class>org.snipsnap.admin.AdminInitFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>org.snipsnap.admin.AdminInitFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>org.snipsnap.admin.Installer</servlet-name>
    <servlet-class>org.snipsnap.admin.Installer</servlet-class>
  </servlet>

  <!-- include precompiled jsp servlets -->
  @PRECOMPILED-JSP@

  <!-- servlet mappings -->

  <servlet-mapping>
    <servlet-name>org.snipsnap.admin.Installer</servlet-name>
    <url-pattern>/setup</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- TAGLIBS -->
  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    <taglib-location>/WEB-INF/c.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
    <taglib-location>/WEB-INF/fmt.tld</taglib-location>
  </taglib>

</web-app>
