/**
 * General Stylesheet definitions.
 * @author Matthias L. Jugel
 * @version $Id$
 */

body {
  margin: 0;
  padding: 0;
  background: #000044;
  color: #ffffff;
  font-size: 100%;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, Geneva, Lucida, Helvetica, sans-serif;
}

#page-logo {
  z-index: 2;
  display: block;
  position: absolute;
  left: 66%;
  top: 0;
  background: #000044;
  color: #ffffff;
  padding: 1em 2em 2em 2em;
}

#page-title {
  padding: 2em;
  width: 66%;
  background: #ffffff;
  color: #000044;
}

#page-tagline {
  display: inline;
  font-size: 120%;
  padding-right: 10px;
  font-family: LuciduxSerif, Georgia, "Book Antiqua", Palatino, "Times New Roman", serif;
}

#page-buttons {
  display: inline;
  padding-right: 5px;
}

#page-wrapper {
  z-index: 1;
  float: left;
  width: 66%;
  border: 0;
  background: #ffffff;
  color: #222;
  padding-top: 1em;
  margin: 0;
  overflow: hidden;
}

#page-content {
  padding: 0 2em 2em 2em;
  font-size: 90%;
  line-height: 140%;
}

#page-portlet-1 {
  z-index: 2;
  margin: 0;
  padding: 1em 2em 2em 2em;
  text-align: right;
  background: #000044;
  color: #ffffff;
  display: block;
  position: absolute;
  left: 66%;
  top: 130px;
}

#page-portlet-1 div#calendar {
  float: right;
}

#page-portlet-2 {
  display: none; /* hide */
}


/* the actual content */
#page-bottom {
  background-color: #ffffff;
  color: #000044;
  width: 66%;
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h1 {
  font-family: monospace;
  font-size: 40px;
}

h2, h3, h4 {
  font-family: LuciduxSerif, Georgia, "Book Antiqua", Palatino, "Times New Roman", serif;
}

h2 {
  font-size: 110%;
  padding-bottom: 0.5em;
}

h3, h4 {
  font-size: 100%;
}

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none;
}