/**
 * General Stylesheet definitions.
 * @author Matthias L. Jugel
 * @version $Id$
 */

body {
  margin:20px 20px 20px 20px;
	background:#EEE;
}

#page-logo {
  font-family:georgia, verdana, arial, sans-serif;
  color:#FFF;
  font-size:24px;
  font-weight:bold;
  border-left:1px solid #FFF;
  border-right:1px solid #FFF;
  border-top:1px solid #FFF;
  background:#003366;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#page-logo * {
  font-family: georgia, verdana, arial, sans-serif;
  font-size:24px;
  font-weight:normal;
  color: #ffffff;
}

#page-title {
  font-family:verdana, arial, sans-serif;
  font-size: 10px;
}

#page-tagline {
  font-family:verdana, arial, sans-serif;
  color:#FFF;
  font-size:11px;
  font-weight:bold;
  border-left:1px solid #FFF;
  border-right:1px solid #FFF;
  background:#003366;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#page-buttons {
  padding:15px;
	background:#FFF;
	text-align:center;
}

#page-wrapper {
  display: table-cell;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom:15px;
	background:#FFF;
}

#page-content {
}

#page-portlet-1 {
  display: table-cell;
  width: 200px;
  padding:15px;
  margin-bottom:15px;
	background:#FFF;
  border-left: 1px solid #003366;
}

#page-portlet-2 {
  display: none; /* hide */
}


/* the actual content */
#page-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
	background:#FFF;
  text-align: center;
}
