<?xml version="1.0" encoding="iso-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
  ** WebApp for Admin.
  ** @author Matthias L. Jugel
  ** @version $Id$
  -->
<web-app>
  <display-name>SnipSnap Admin</display-name>

  <servlet>
    <servlet-name>org.snipsnap.admin.AdminServlet</servlet-name>
    <servlet-class>org.snipsnap.admin.AdminServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.admin.Installer</servlet-name>
    <servlet-class>org.snipsnap.admin.Installer</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.admin.Shutdown</servlet-name>
    <servlet-class>org.snipsnap.admin.Shutdown</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.admin.Authenticate</servlet-name>
    <servlet-class>org.snipsnap.admin.Authenticate</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.admin.Application</servlet-name>
    <servlet-class>org.snipsnap.admin.Application</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.admin.Update</servlet-name>
    <servlet-class>org.snipsnap.admin.Update</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.admin.UserManager</servlet-name>
    <servlet-class>org.snipsnap.admin.UserManager</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.admin.UserEdit</servlet-name>
    <servlet-class>org.snipsnap.admin.UserEdit</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>org.snipsnap.admin.AdminServlet</servlet-name>
    <url-pattern>/exec/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.admin.Installer</servlet-name>
    <url-pattern>/exec/install</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.admin.Shutdown</servlet-name>
    <url-pattern>/exec/shutdown</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.admin.Authenticate</servlet-name>
    <url-pattern>/exec/authenticate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.admin.Application</servlet-name>
    <url-pattern>/exec/app/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.admin.Update</servlet-name>
    <url-pattern>/exec/app/update</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.admin.UserManager</servlet-name>
    <url-pattern>/exec/user</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.admin.UserEdit</servlet-name>
    <url-pattern>/exec/user/edit</url-pattern>
  </servlet-mapping>

  <!-- TAGLIBS -->
  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    <taglib-location>/WEB-INF/c.tld</taglib-location>
  </taglib>

</web-app>
