/**
 * General Stylesheet definitions.
 * @author Matthias L. Jugel
 * @version $Id$
 */

body {
  font-family: verdana, arial, sans-serif;
  color: #666;
  font-size:11px;
  font-weight:normal;
  line-height:16px;

  margin: 20px 20px 20px 20px;
  background: #FFF;
}

#page-logo {
  font-family: georgia, times new roman, times, serif;
  color:#FFF;
  font-size: 24px;
  font-weight: normal;
  border-left:1px solid #FFF;
  border-right:1px solid #FFF;
  border-top:1px solid #FFF;
  background:#003366;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#page-logo * {
  font-family: georgia, times new roman, times, serif;
  font-size: 24px;
  font-weight:normal;
  color: #ffffff;
}

#page-title {
  font-family:verdana, arial, sans-serif;
  font-size: 10px;
}

#page-tagline {
  font-family:verdana, arial, sans-serif;
  color:#FFF;
  font-size:11px;
  font-weight:bold;
  border-left:1px solid #FFF;
  border-right:1px solid #FFF;
  background:#003366;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
}

#page-buttons {
  padding:15px;
  background:#FFF;
  text-align:center;
}

#page-wrapper {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: #FFF;
  border: 1px solid red;
}

#page-content {
  float: left;
  width: 67%;
  padding-left: 15px;
  padding-right: 15px;
  background: #FFF;
  border: 1px solid brown;
}

#page-portlet-1 {
  float: left;
  width: 25%;
  margin: 0px;
  padding-left: 15px;

  /* IE (Windows,MAC) do not display the line down to the bottom */
  border-left: 1px solid #003366;
  background-color: #FFF;
}

#page-portlet-2 {
  display: none; /* hide */
}

#page-bottom {
  clear: left;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  margin-top: -11px;
  width: 100%;
  background:#FFF;
  text-align: center;
  border: 1px solid green;
}

/* Remove the comments around the section below to move the menu to the left side */
/* START OF LEFT SIDE MENU
#page-wrapper {
  display: block;
}

#page-content {
  display: block;
  position: relative;
  padding-left: 29%;
  padding-right: 15px;
  height: 100%;
}

#page-portlet-1 {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  border-left: 0px;
  border-right: 1px solid #003366;
}
 END OF LEFT SIDE MENU */

