/**
 * General Stylesheet definitions.
 * @author Matthias L. Jugel
 * @version $Id$
 */

/* error messages and error positions should be marked red */
.error { color: #ff0000; font-weight: bold;	background-color: inherit;}
.error-position { background-color: #ffaaaa; color: inherit;}

/* inactive buttons are greyed out */
.inactive { color: #aaaaaa; background-color: inherit;}

/* the wiki rendering preview */
.preview {
  color: inherit;
  background-color: inherit;
  padding: 5px 5px 5px 5px;
}


.calendar-head {
  text-align: left;
  font-weight: bold;
}

.calendar-today {
  color: inherit;
  background-color: #aaaaaa;
}

.calendar-weekday {
}


/************************************************/
/* list formatting                              */

#list {
}

#list .list-title {
  font-weight: bold;
}

#list ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

/************************************************/
/* ANCHOR tag                                   */
a {
	color:#09c;
	background-color: inherit;
	text-decoration: none;
	font-weight: 400;
}
a:link {
  color:#09c;
  background-color: inherit;
}
a:visited {
  color:#07a;
  background-color: inherit;
}
a:hover {
  color: inherit;
  background-color: #eeeeee;
}

/************************************************/
/* table tag                                    */
table {
	empty-cells: show;
}

table.debug {
  color: inherit;
  background-color: #ffff99;
	empty-cells: show;
}

/************************************************/
/* input tag                                    */

input[type=submit] {
  color: inherit;
  background: #eeeeee;
	font-family: inherit;
}

input, select, textarea {
  line-height: inherit;
  /*vertical-align: middle; a bug in IE5.2-mac crashes with this*/
	border: 1px dashed #999999;
  font-size: inherit;
  font-family: courier, courier new, monospaced;
}



