/**
 * Wiki text stylesheet definitions.
 * @author Matthias L. Jugel
 * @version $Id$
 */

.bold { font-weight: bold; }
.italic { font-style: italic; }

.heading-1 {
  font-weight: bold;
  font-size: 12px;
  font-variant: small-caps;
}

.heading-1-1 {
  font-size: 12px;
  font-variant: small-caps;
}

.quote {
  font-style: italic;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

/************************************************/
/* code formatting */
.code {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  color: inherit;
  background-color: #F0F0F0;
  border: 1px dashed black;
  font-family: courier, courier new, monospace;
  font-size: 12px;
  line-height: 100%;
  white-space: pre;
}


.java-keyword {
  font-weight: bold;
  color: #0000aa;
  background-color: inherit;
}

.java-object {
  color: #000088;
  background-color: inherit;
}

.java-quote {
  color: #00aa00;
  background-color: inherit;
}

.xml-keyword {
  font-weight: bold;
}

.xml-tag {
  color: #0000aa;
  background-color: inherit;
}

/* weblog formatting */
.blog-date {
  display: block;
  background-color: #f8f8f8;
  color: black;
  font-family: verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.comment {
  color: black;
  background-color: inherit;
  font-family: verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 25px;
}


/* special formatting of a wiki table */
#wiki-table {
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 1px;
  empty-cells: show;
}

#wiki-table td {
  border-top: 1px solid black;
  padding: 4px 4px 4px 4px;
}

#wiki-table th {
  border-top: 1px solid black;
  text-align: left;
  color: inherit;
  font-weight: bold;
  /* background: #DDEEFF; */
  background: #d9e4f9;
}

#wiki-table .table-odd {
  color: inherit;
  background: #F8F8F8;
}

#wiki-table .table-even {
}

.sniplinks {
  table-layout: auto;
}

/************************************************/
/* list formatting                              */

#list {
}

.list-title {
  font-weight: bold;
}

#list ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

/* wiki lists */

ul.minus { list-style-type: square; }
ul.star { list-style-type: circle; }
ol.roman { list-style-type: lower-roman; }
ol.ROMAN { list-style-type: upper-roman; }
ol.alpha { list-style-type: lower-alpha; }
ol.ALPHA { list-style-type: upper-alpha; }
ol.greek { list-style-type: lower-greek; }
ol.GREEK { list-style-type: upper-greek; }
ol.hiragana { list-style-type: hiragana; }
ol.HIRAGANA { list-style-type: hiragana-iroha; }
ol.katakana { list-style-type: katakana; }
ol.KATAKANA { list-style-type: katakana-iroha; }


/************************************************/
/* index formatting                             */
#index {
}

#index td {
  padding: 1px 1px 1px 1px;
}

#index th {
  padding: 1px 1px 1px 1px;
  text-align: left;
  color: inherit;
  font-weight: bold;
  background: #d9e4f9;
}

/************************************************/
/* calendar display                             */
#calendar {
  border-spacing: 0px;
  text-align: right;
}

#calendar caption {
  text-align: left;
  font-weight: bold;
}

#calendar .today {
  color: inherit;
  background-color: #aaaaaa;
}