/*
 * This file is part of "SnipSnap Wiki/Weblog".
 *
 * Copyright (c) 2002 Stephan J. Schmidt, Matthias L. Jugel
 * All Rights Reserved.
 *
 * Please visit http://snipsnap.org/ for updates and contact.
 *
 * --LICENSE NOTICE--
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
 * --LICENSE NOTICE--
 */
package org.snipsnap.config;

import java.util.Locale;
import java.util.Properties;
import java.io.File;
import java.io.IOException;

/**
 * Interface template for easy usage of the configuration.
 * @author Matthias L. Jugel
 * @version $Id$
 */
public interface Configuration {
  public String get(String name);
  public void set(String name, String value);

  public File getConfDir();
  public File getFile();
  public void setFile(File file);

  public void load(File file) throws IOException;
  public void store() throws IOException;

  // get all properties
  public Properties getProperties();
  public String getDefault(String name);

  // LOCALE
  Locale getLocale();

  // URL HANDLING
  String getUrl();
  String getUrl(String target);
  String getSnipUrl(String snipName);

  // PERMISSIONS
  boolean allow(String action);
  boolean deny(String action);

  // TODO remove/replace
  boolean getAllowRegister();

  // GENERICS
  public String getVersion();
  boolean isInstalled();

  // EASY ACCESS
  @DEFAULTS@
}
