/**
 * General Stylesheet definitions.
 * @author Matthias L. Jugel
 * @version $Id$
 */

/* error messages and error positions should be marked red */
.error { color: #ff0000; font-weight: bold;	background-color: inherit;}
.error-position { background-color: #ffaaaa; color: inherit;}

/* inactive buttons are greyed out */
.inactive { color: #aaaaaa; background-color: inherit;}

/************************************************/
/* ANCHOR tag                                   */
a {
	color:#09c;
	background-color: inherit;
	text-decoration: none;
	font-weight: 400;
}
a:link {
  color:#e14f15;
  background-color: inherit;
}
a:visited {
  color:#dd2104;
  background-color: inherit;
}
a:hover {
  color: #e14f15;
  background-color: #444444;
}

/************************************************/
/* table tag                                    */
table {
	empty-cells: show;
}



/************************************************/
/* input tag                                    */

input[type=submit] {
  color: inherit;
  background-color: #eeeeee;
	font-family: inherit;
}

input, select, textarea {
  line-height: inherit;
  /*vertical-align: middle; a bug in IE5.2-mac crashes with this*/
	border: 1px dashed #999999;
  font-size: inherit;
  font-family: courier, courier new, monospaced;
}

textarea {
  width: 100%;
  overflow: auto;
  wrap: virtual;
}



/**
 *  Mr. Choco
 *  www.drrockit.com/space/Mr.+Choco
 */


.mrc-achtung {
        color: red;
        background-color: yellow;
}




