/**
 * Design of the configurator.
 * @author Matthias L. Jugel
 * @version $Id$
 */

body {
  background-color: #ffffff;
  color: #4c4c4c;
  font-size: 12pt;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, Geneva, Lucida, Helvetica, sans-serif;
  font-weight: normal;

  margin: 0px;
  padding: 0px;
}

.header {
  position: relative;
  padding: 5px;
  display: block;
}

.info {
  vertical-align: top;
  float: right;
  color: #999999;
  font-size: x-small;
  position: relative;
}

.version {
  font-size: x-small;
  color: #999999;
  padding-left: 5px;
}

.info ul {
  padding-top: 0px;
  margin-top: 0px;
  list-style-type: none;
}

.content {
  clear: both;
  width: 100%;
}

.configuration {
  clear: both;
  padding: 0px;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  display: block;
  width: 100%;
}

.guide {
  width: 30%;
  padding: 10px 5px 5px 5px;
  border-right: 1px solid #999999;
  vertical-align: top;
}

.guide a:link {
  color: #999999;
  text-decoration: none;
}
.guide a:visited	{
  color: #999999;
  text-decoration: none;
}
.guide a:active {
  color: #000000;
}
.guide a:hover {
  color: #000000;
}

.guide ul {
  list-style-type: circle;
}

li.current-step {
  font-weight: bold;
}

.step-info {
  border: 1px dashed #999999;
  color: black;
  padding: 5px;
  font-size: 90%;
  text-align: justify;
}

.edit {
  width: 70%;
  background: white;
  color: black;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 5px;
  margin: 0px;
  vertical-align: top;
}

.edit .step {
  font-size: large;
  padding: 10px;
  padding-left: 5px;

}

.errors {
  padding-left: 5px;
  font-size: x-small;
  font-weight: normal;
}

.errors li {
  display: block;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: red;
}

.errors ul {
  padding-top: 0px;
  margin-top: 0px;
  list-style-type: none;
}


.navigation {
  vertical-align: bottom;
  text-align: right;
  width: 100%;
}

.edit > table {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
}

.edit td {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;
  font-size: x-small;
  font-weight: bold;
  line-height: 1.6em;
  border: 1px solid white;
  color: black;
}

.edit > table td:first-child {
  background: #eeeeee;
  /*color: black;*/
  text-align: justify;
  width: 40%;
  font-size: x-small;
  font-weight: normal;
  line-height: 1.2em;
}

.edit .hint {
  font-size: x-small;
  font-weight: normal;
  color: #999999;
}

.finish {
  font-size: small;
  padding: 5px;
}

.finish .start {
  margin-left: 20%;
  width: 60%;
  text-alignment: center;
  padding: 7px;
}

.start input {
  font-size: 150%;
  padding: 3px;
  background-color: #eeeeee;
  color: green;
}

.advanced {
  margin-left: 40px;
  margin-top: 10px;
  align: center;
  background: #eeeeee;
  padding: 5px;
  font-size: x-small;
  width: 60%;
}

.advanced ul {
  list-style-type: none;
}

.users {
  width: 100%;
}

.users-pages {
  font-size: x-small;
  margin-bottom: 5px;
}

.users table {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 1px;
}

.users td {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0px;
  border: 0px;
  text-align: left;
}

.users th {
  text-align: left;
}

.users-even {
  background: #eeeeee;
}

.statusbar {
  table-layout: fixed;
  width: 200px;
  border: 1px solid black;
}

.statusbar td {
  width: 5px;
  height: 10px;
  background-color: #eeeeee;
}

.statusbar td.completed {
  width: 5px;
  height: 10px;
  background-color: #999999;
}