<?xml version="1.0" encoding="iso-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
  ** Web application configuration.
  ** @author Matthias L. Jugel
  ** @version $Id$
  -->
<web-app>
  <display-name>SnipSnap</display-name>

  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
    <param-value>en</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>messages_en</param-value>
  </context-param>

  <filter>
    <filter-name>org.snipsnap.net.filter.InitFilter</filter-name>
    <filter-class>org.snipsnap.net.filter.InitFilter</filter-class>
  </filter>

  <filter>
    <filter-name>org.snipsnap.net.filter.MultipartFilter</filter-name>
    <filter-class>org.snipsnap.net.filter.MultipartFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>org.snipsnap.net.filter.InitFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>org.snipsnap.net.filter.MultipartFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.snipsnap.user.SessionListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.snipsnap.net.ApplicationContextListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>org.snipsnap.net.InitServlet</servlet-name>
    <servlet-class>org.snipsnap.net.InitServlet</servlet-class>
    <load-on-startup/>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.Layouter</servlet-name>
    <servlet-class>org.snipsnap.net.Layouter</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.FileUploadServlet</servlet-name>
    <servlet-class>org.snipsnap.net.FileUploadServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.FileDownloadServlet</servlet-name>
    <servlet-class>org.snipsnap.net.FileDownloadServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.StoreLabelServlet</servlet-name>
    <servlet-class>org.snipsnap.net.StoreLabelServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.LabelsServlet</servlet-name>
    <servlet-class>org.snipsnap.net.LabelsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.AddLabelServlet</servlet-name>
    <servlet-class>org.snipsnap.net.AddLabelServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.RemoveLabelServlet</servlet-name>
    <servlet-class>org.snipsnap.net.RemoveLabelServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.SnipViewServlet</servlet-name>
    <servlet-class>org.snipsnap.net.SnipViewServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.RdfServlet</servlet-name>
    <servlet-class>org.snipsnap.net.RdfServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.SnipRawServlet</servlet-name>
    <servlet-class>org.snipsnap.net.SnipRawServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.VersionServlet</servlet-name>
    <servlet-class>org.snipsnap.net.VersionServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.RssServlet</servlet-name>
    <servlet-class>org.snipsnap.net.RssServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.RsdServlet</servlet-name>
    <servlet-class>org.snipsnap.net.RsdServlet</servlet-class>
  </servlet>

    <servlet>
      <servlet-name>org.snipsnap.net.XmlRpcServlet</servlet-name>
      <servlet-class>org.snipsnap.net.XmlRpcServlet</servlet-class>
    </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.SnipEditServlet</servlet-name>
    <servlet-class>org.snipsnap.net.SnipEditServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.SnipLockServlet</servlet-name>
    <servlet-class>org.snipsnap.net.SnipLockServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.SnipStoreServlet</servlet-name>
    <servlet-class>org.snipsnap.net.SnipStoreServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.SnipRemoveServlet</servlet-name>
    <servlet-class>org.snipsnap.net.SnipRemoveServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.SnipSearchServlet</servlet-name>
    <servlet-class>org.snipsnap.net.SnipSearchServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.PostStoreServlet</servlet-name>
    <servlet-class>org.snipsnap.net.PostStoreServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.CommentViewServlet</servlet-name>
    <servlet-class>org.snipsnap.net.CommentViewServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.CommentStoreServlet</servlet-name>
    <servlet-class>org.snipsnap.net.CommentStoreServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.ChangePasswordServlet</servlet-name>
    <servlet-class>org.snipsnap.net.ChangePasswordServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.MailPasswordKeyServlet</servlet-name>
    <servlet-class>org.snipsnap.net.MailPasswordKeyServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.LoginServlet</servlet-name>
    <servlet-class>org.snipsnap.net.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.NewUserServlet</servlet-name>
    <servlet-class>org.snipsnap.net.NewUserServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.iCalServlet</servlet-name>
    <servlet-class>org.snipsnap.net.iCalServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.RobotServlet</servlet-name>
    <servlet-class>org.snipsnap.net.RobotServlet</servlet-class>
  </servlet>

  <!-- ADMIN -->
  <servlet>
    <servlet-name>org.snipsnap.net.admin.AdminServlet</servlet-name>
    <servlet-class>org.snipsnap.net.admin.AdminServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.admin.UserManagerServlet</servlet-name>
    <servlet-class>org.snipsnap.net.admin.UserManagerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.admin.ExportServlet</servlet-name>
    <servlet-class>org.snipsnap.net.admin.ExportServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.admin.ImportServlet</servlet-name>
    <servlet-class>org.snipsnap.net.admin.ImportServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>org.snipsnap.net.admin.ConfigureServlet</servlet-name>
    <servlet-class>org.snipsnap.net.admin.ConfigureServlet</servlet-class>
  </servlet>

  <!-- include precompiled servlet mappings -->
  @PRECOMPILED-JSP@

  <!-- servlet mappings -->

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.SnipRawServlet</servlet-name>
    <url-pattern>/raw/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.SnipViewServlet</servlet-name>
    <url-pattern>/space/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.RdfServlet</servlet-name>
    <url-pattern>/rdf/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.Layouter</servlet-name>
    <url-pattern>/exec/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.FileUploadServlet</servlet-name>
    <url-pattern>/exec/upload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.SnipLockServlet</servlet-name>
    <url-pattern>/exec/lock</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.XmlRpcServlet</servlet-name>
    <url-pattern>/RPC2</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.RssServlet</servlet-name>
    <url-pattern>/exec/rss</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.RsdServlet</servlet-name>
    <url-pattern>/exec/rsd</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.VersionServlet</servlet-name>
    <url-pattern>/rest/version</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.LabelsServlet</servlet-name>
    <url-pattern>/exec/labels</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.AddLabelServlet</servlet-name>
    <url-pattern>/exec/addlabel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.RemoveLabelServlet</servlet-name>
    <url-pattern>/exec/removelabel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.StoreLabelServlet</servlet-name>
    <url-pattern>/exec/storelabel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.SnipEditServlet</servlet-name>
    <url-pattern>/exec/edit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.SnipStoreServlet</servlet-name>
    <url-pattern>/exec/store</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.SnipRemoveServlet</servlet-name>
    <url-pattern>/exec/remove</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.SnipSearchServlet</servlet-name>
    <url-pattern>/exec/search</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.PostStoreServlet</servlet-name>
    <url-pattern>/exec/storepost</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.CommentViewServlet</servlet-name>
    <url-pattern>/comments/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.CommentStoreServlet</servlet-name>
    <url-pattern>/exec/storecomment</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.ChangePasswordServlet</servlet-name>
    <url-pattern>/exec/changepass</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.MailPasswordKeyServlet</servlet-name>
    <url-pattern>/exec/mailkey</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.LoginServlet</servlet-name>
    <url-pattern>/exec/authenticate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.NewUserServlet</servlet-name>
    <url-pattern>/exec/newuser</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.iCalServlet</servlet-name>
    <url-pattern>/exec/ical/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.RobotServlet</servlet-name>
    <url-pattern>/robots.txt</url-pattern>
  </servlet-mapping>

  <!-- ADMIN -->
  <servlet-mapping>
    <servlet-name>org.snipsnap.net.admin.AdminServlet</servlet-name>
    <url-pattern>/manager/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.admin.UserManagerServlet</servlet-name>
    <url-pattern>/manager/user</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.admin.ExportServlet</servlet-name>
    <url-pattern>/manager/export</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.admin.ImportServlet</servlet-name>
    <url-pattern>/manager/import</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.admin.ImportServlet</servlet-name>
    <url-pattern>/manager/import</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>org.snipsnap.net.admin.ConfigureServlet</servlet-name>
    <url-pattern>/admin/configure</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- TAGLIBS -->
  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    <taglib-location>/WEB-INF/c.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://snipsnap.com/snipsnap</taglib-uri>
    <taglib-location>/WEB-INF/snipsnap.tld</taglib-location>
  </taglib>

</web-app>
