<?xml version="1.0" encoding="iso-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
  ** Web application configuration.
  ** @author Matthias L. Jugel
  ** @version $Id$
  -->
<web-app>
  <display-name>SnipSnap</display-name>


  <servlet>
    <servlet-name>com.neotis.net.Layouter</servlet-name>
    <servlet-class>com.neotis.net.Layouter</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>com.neotis.net.SnipViewServlet</servlet-name>
    <servlet-class>com.neotis.net.SnipViewServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>com.neotis.net.SnipEditServlet</servlet-name>
    <servlet-class>com.neotis.net.SnipEditServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>com.neotis.net.SnipStoreServlet</servlet-name>
    <servlet-class>com.neotis.net.SnipStoreServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>com.neotis.net.PostStoreServlet</servlet-name>
    <servlet-class>com.neotis.net.PostStoreServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>com.neotis.net.CommentViewServlet</servlet-name>
    <servlet-class>com.neotis.net.CommentViewServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>com.neotis.net.CommentStoreServlet</servlet-name>
    <servlet-class>com.neotis.net.CommentStoreServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>com.neotis.net.NewUserServlet</servlet-name>
    <servlet-class>com.neotis.net.NewUserServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>com.neotis.net.LoginServlet</servlet-name>
    <servlet-class>com.neotis.net.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.neotis.net.SnipViewServlet</servlet-name>
    <url-pattern>/space/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.neotis.net.Layouter</servlet-name>
    <url-pattern>/exec/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.neotis.net.SnipEditServlet</servlet-name>
    <url-pattern>/exec/edit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.neotis.net.SnipStoreServlet</servlet-name>
    <url-pattern>/exec/store</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.neotis.net.PostStoreServlet</servlet-name>
    <url-pattern>/exec/storepost</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.neotis.net.CommentViewServlet</servlet-name>
    <url-pattern>/comments/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.neotis.net.CommentStoreServlet</servlet-name>
    <url-pattern>/exec/storecomment</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.neotis.net.NewUserServlet</servlet-name>
    <url-pattern>/exec/newuser</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.neotis.net.LoginServlet</servlet-name>
    <url-pattern>/exec/authenticate</url-pattern>
  </servlet-mapping>

  <!-- TAGLIBS -->
  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    <taglib-location>/WEB-INF/c.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://snipsnap.com/snipsnap</taglib-uri>
    <taglib-location>/WEB-INF/snipsnap.tld</taglib-location>
  </taglib>

</web-app>
