/**
 * Wiki text stylesheet definitions.
 * @author Matthias L. Jugel
 * @version $Id$
 */

.bold { font-weight: bold; }
.italic { font-style: italic; }

/************************************************/
/* image positioning                            */
img {
  border: 1px solid black;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

img.left {
  display: block;
  left: 0px;
}

img.right {
  display: block;
  right: 0px;
}

img.center {
  text-align: center;
}

img.float-left {
  float: left;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

img.float-right {
  float: right;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
}



.heading-1 {
  color: #000000;
  background-color: inherit;
  font-weight: bold;
  font-size: 14px;
  font-variant: uppercase;
}

.heading-1-1 {
  color: #000000;
  background-color: inherit;
  font-size: 13px;
  font-variant: uppercase;
}

.quote {
  font-style: italic;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

/************************************************/
/* code formatting */
.code {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  color: inherit;
  background-color: #eeeeee;
  border: 1px dotted #003366;
  font-family: courier, courier new, monospace;
  font-size: 12px;
  line-height: 100%;
  white-space: pre;
  overflow: -moz-scrollbars-horizontal;
  overflow-x: auto;
  width: 98%;
}


.java-keyword {
  font-weight: bold;
  color: #0000aa;
  background-color: inherit;
}

.java-object {
  color: #000088;
  background-color: inherit;
}

.java-quote {
  color: #00aa00;
  background-color: inherit;
}

.xml-keyword {
  font-weight: bold;
}

.xml-tag {
  color: #0000aa;
  background-color: inherit;
}

/* weblog formatting */
.blog-date {
	font-size: 16px;
	color: #000000;
	text-transform: none;
  margin-bottom: 10px;
  padding: 3px;
  border: 1px solid #5B5B5B;
}

/* special formatting of a wiki table */
.wiki-table {
  empty-cells: show;
  width: 100%;
  max-width: 100%;
}

.wiki-table td {
  border-top: 1px solid #5b5b5b;
  padding: 4px 4px 4px 4px;
}

.wiki-table th {
  border-top: 1px solid #5b5b5b;
  text-align: left;
  color: inherit;
  font-weight: bold;
  /* background-color: #DDEEFF; */
  background:#EADE00;
  color: #000000;
}

.wiki-table .table-odd {
}

.wiki-table .table-even {
}


/************************************************/
/* list formatting                              */

.list {
}

.list-title {
  font-weight: bold;
}

.list ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

/* wiki lists */

ul.minus { list-style-type: square; }
ul.star { list-style-type: circle; }
ol.roman { list-style-type: lower-roman; }
ol.ROMAN { list-style-type: upper-roman; }
ol.alpha { list-style-type: lower-alpha; }
ol.ALPHA { list-style-type: upper-alpha; }
ol.greek { list-style-type: lower-greek; }
ol.GREEK { list-style-type: upper-greek; }
ol.hiragana { list-style-type: hiragana; }
ol.HIRAGANA { list-style-type: hiragana-iroha; }
ol.katakana { list-style-type: katakana; }
ol.KATAKANA { list-style-type: katakana-iroha; }
ol.HEBREW { list-style-type: hebrew; }

/************************************************/
/* index formatting                             */
.index-top {
  border-top: 1px solid #003366;
  margin-bottom: 5px;
}

.index-top th {
  padding: 1px 1px 1px 1px;
  text-align: left;
  font-weight: bold;
}

.index {
}

.index td {
  padding: 1px 1px 1px 1px;
}

.index th {
  margin-top: 5px;
  padding: 1px 1px 1px 1px;
  text-align: left;
  font-weight: bold;
  border-top: 1px solid #003366;
  border-bottom: 1px solid #003366;
}

/************************************************/
/* calendar display                             */
.calendar {
  border-spacing: 0px;
}

.calendar th {
  font-size: 0.8em;
}

.calendar td {
  text-align: right;
}

.calendar caption {
  text-align: left;
  font-weight: bold;
}

.calendar .today {
  border: 3px solid #aaaaaa;
}

