/**
 * General Stylesheet definitions.
 * @author Matthias L. Jugel
 * @version $Id$
 */

body {
  background-color: #ffffff;
  color: #4c4c4c;
  width: 800px;
  font-size: 70%;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, Geneva, Lucida, Helvetica, sans-serif;
  margin: 20px;
  padding: 0px;}

#page-logo {
  width: 800px;
  display: block;
  width: 100%;
}

#page-title {
  display: block;
  width: 800px;
  margin-top: 10px;

	padding: 17px 0px 7px 0px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0px;
	line-height: 11px;
	color: inherit;
	background-color: #eeeeee;
	font-size: 14px;
	voice-family: inherit;
	height: 14px; /* the correct height */
  text-align: right;
}

#page-tagline {
  display: inline;
  font-size: 120%;
  padding-right: 10px;
}

#page-buttons {
  display: inline;
  padding-right: 5px;
}

#page-wrapper {
  width: 800px;
}

#page-content {
  float: left;
  margin-top: 10px;
  height: auto;
  width: 590px;
  max-width: 590px;
}

#page-portlet-1 {
  float: right;
  width: 190px;
	border: 1px dashed #999999;
	line-height: 14px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
}

#page-portlet-2 {
  display: none; /* hide */
}


/* the actual content */
#page-bottom {
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 100%;
}
