/**
 * Wiki text stylesheet definitions.
 * @author Matthias L. Jugel
 * @version $Id$
 */

.bold { font-weight: bold; }
.italic { font-style: italic; }

/************************************************/
/* image positioning                            */
img {
  margin-top: 1px;
  margin-bottom: 1px;
}

img.left {
  display: block;
  left: 0px;
}

img.right {
  display: block;
  right: 0px;
}

img.center {
  text-align: center;
}

img.float-left {
  float: left;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

img.float-right {
  float: right;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
}



.heading-1 {
  font-weight: bold;
  font-size: 12px;
  font-variant: small-caps;
}

.heading-1-1 {
  font-size: 12px;
  font-variant: small-caps;
}

.quote {
  font-style: italic;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

/************************************************/
/* code formatting */
.code {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  color: inherit;
  background-color: #F0F0F0;
  border: 1px dashed black;
  font-family: courier, courier new, monospace;
  font-size: 12px;
  line-height: 100%;
  white-space: pre;
}


.java-keyword {
  font-weight: bold;
  color: #0000aa;
  background-color: inherit;
}

.java-object {
  color: #000088;
  background-color: inherit;
}

.java-quote {
  color: #00aa00;
  background-color: inherit;
}

.xml-keyword {
  font-weight: bold;
}

.xml-tag {
  color: #0000aa;
  background-color: inherit;
}

/* weblog formatting */
.blog-date {
  display: block;
  background-color: #f8f8f8;
  color: black;
  font-family: verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

/* special formatting of a wiki table */
.wiki-table {
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 1px;
  empty-cells: show;
}

.wiki-table td {
  border-top: 1px solid black;
  padding: 4px 4px 4px 4px;
}

.wiki-table th {
  border-top: 1px solid black;
  text-align: left;
  color: inherit;
  font-weight: bold;
  /* background-color: #DDEEFF; */
  background-color: #d9e4f9;
}

.wiki-table .table-odd {
  color: inherit;
  background-color: #F8F8F8;
}

.wiki-table .table-even {
}

/************************************************/
/* list formatting                              */

.list {
}

.list-title {
  font-weight: bold;
}

.list ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

/* wiki lists */

ul.minus { list-style-type: square; }
ul.star { list-style-type: circle; }
ol.roman { list-style-type: lower-roman; }
ol.ROMAN { list-style-type: upper-roman; }
ol.alpha { list-style-type: lower-alpha; }
ol.ALPHA { list-style-type: upper-alpha; }
ol.greek { list-style-type: lower-greek; }
ol.GREEK { list-style-type: upper-greek; }
ol.hiragana { list-style-type: hiragana; }
ol.HIRAGANA { list-style-type: hiragana-iroha; }
ol.katakana { list-style-type: katakana; }
ol.KATAKANA { list-style-type: katakana-iroha; }
ol.HEBREW { list-style-type: hebrew; }


/************************************************/
/* index formatting                             */
.index-top {
}

.index-top th {
  padding: 1px 1px 1px 1px;
  text-align: left;
  color: inherit;
  font-weight: bold;
  background-color: #d9e4f9;
}

.index {
}

.index td {
  padding: 1px 1px 1px 1px;
}

.index th {
  padding: 1px 1px 1px 1px;
  text-align: left;
  color: inherit;
  font-weight: bold;
  background-color: #d9e4f9;
}

/************************************************/
/* calendar display                             */
.calendar {
  border-spacing: 0px;
}

.calendar td {
  text-align: right;
}

.calendar caption {
  text-align: left;
  font-weight: bold;
}

.calendar .today {
  border: 3px solid #cccccc;
}
